<html>
<head>
	<title>Добавить сервис</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
</head>

<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<body>
	<div class="container">

	@{
		ViewBag.Title = "CreateService";
	}


	@model WebProject.Models.Service

	<h3>Добавить услугу</h3>

	@using (Html.BeginForm())
	{
		<p>
			@Html.LabelFor(model => model.Name, "Название")
		</p>
		<p>
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</p>
		<p>
			@Html.LabelFor(model => model.Price, "Стоимость")
		</p>
		<p>
			@Html.EditorFor(model => model.Price)
			@Html.ValidationMessageFor(model => model.Price)
		</p>
		<p>
			@Html.LabelFor(model => model.Discount, "Скидка")
		</p>
		<p>
			@Html.EditorFor(model => model.Discount)
			@Html.ValidationMessageFor(model => model.Discount)
		</p>
		<input type="submit" value="Добавить" />
	}
	</div>
</body>
</html>